button {
    padding: 12px 28px;
    border-radius: calc(infinity * 1px);
    border: rgba($color: white, $alpha: 0.3) 1px solid;
    background-color: rgba($color: white, $alpha: 0.1);
    backdrop-filter: blur(8px);
    color: white;
}
