@import "tailwindcss";

/* :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;

    background-image: url("/src/assets/chrome-star-1.png"),
        url("/src/assets/chrome-star-2.png"),
        url("/src/assets/chrome-star-1.png"),
        url("/src/assets/chrome-star-2.png");
    background-position: top -30% left -50%, bottom 10% left, top 10% right -20%,
        bottom -30% right -50%;
    background-size: 60%;
    background-repeat: no-repeat;
    filter: blur(50px);
}

#root::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-image: url("/src/assets/grain.png");
    opacity: 0.1;
}
